.card {
    max-width: 540px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.card-body {
    background-color: #626060;
}

.container {
    color: white;
}

body {
    background-color: #626060;
}

.jumbotron {
    background-color: #626060;
}

h1 {
    color: white;
    border-bottom: white solid 2px;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
}

h2 {
    color: white;
    border-bottom: white solid 2px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
}

h3 {
    text-align: center;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.bottomFooter {
  height: 55px;
}

.table {
    color: white;
}

.fontli {
    border-bottom: white solid 2px;
    font-size: larger;
    margin-bottom: 10px;
}